$primary-color: #4a90e2
$secondary-color: rgba(218, 191, 141, 0.418)
$text-color: #333
$font-stack: 'Arial', sans-serif

.detail_card 
  max-width: 1440px
  margin: 0 auto
  padding: 40px 20px
  background-color: $secondary-color
  font-family: $font-stack
  &__img
    width: 200px
    border-radius: 8px
    margin-left: 20px
  &__return
    margin-top: -35px
    margin-left: -15px
    position: fixed

  .title
    text-align: center
    font-size: 2.5rem
    color: $primary-color
  
  .info_section 
    margin: 20px 0
    padding: 15px
    border: 1px solid $primary-color
    border-radius: 8px

    .section_title 
      font-size: 1.5rem
      color: $primary-color
      margin-bottom: 10px
    p 
      margin: 5px 0
      color: $text-color
      strong 
        color: $primary-color
      
    .data 
      font-weight: bold
    
  a 
    color: $primary-color
    text-decoration: none
    &:hover 
      text-decoration: underline
    
  
